div.col-md-4.col-md-offset-4
  h3 Edit Your Todo List
  form(name='todoForm', novalidate)


    div.form-group
      label Title
      input.form-control#todoTitle(type='text', name='title', ng-model= 'task.title')
    div.form-group
      label Description
      textarea.form-control#todoDescription(rows='2', name='description', ng-model= 'task.description')
    div.form-group
      label Due Date
      input.form-control#todoDuedate(type='date', name='due_date', ng-model= 'task.due_date')
    div.form-group
      label Priority
      input.form-control#todoPriority(type="number", name="priority", ng-model= 'task.priority' autofocus, required, min="0" max="100")
    div.checkbox
      label
        input(type='checkbox', name='complete', ng-model= 'todo.complete')
        | Completed


    a.editButton(ng-click='edit(task._id)') Edit




