
div.col-md-4.col-md-offset-4
  h3 Create Your Todo List
  form
    input(type='hidden', name='db_id')
    div.form-group
      label Task
      input.form-control(type='text', name='task')
    div.form-group
      label Description
      textarea.form-control(rows='3', name='description')
    div.form-group
      label Due Date
      input.form-control(type='date', name='dueDate')
    div.form-group
      label Priority
      input.form-control(type="text", name="priority")
    div.checkbox
      label
        input(type='checkbox', name='completed')
        | Completed
    input.btn.btn-default(type='submit', value='submit')




