div.col-md-4.col-md-offset-4

  h3 Here's your list

  a(href='/todo') Create a new task

  .list(ng-repeat= 'task in task')
    .title Title: {{task.title}}
    .description Description:{{task.description}}
    .priority Priority:{{task.priority}}
    .dueDate Due Date: {{task.due_date}}
    .actions
      a.deleteButtton(ng-click='delete(task._id)') Delete
      a.editButton(ng-click='edit(task._id)') Edit

