div.col-md-4.col-md-offset-4
  h3 Create Your Todo List
  form(name='todoForm', novalidate)

    div.form-group
      label Title
      input.form-control(type='text', name='title', ng-model='title')
    div.form-group
      label Description
      textarea.form-control(rows='2', name='description', ng-model='description')
    div.form-group
      label Due Date
      input.form-control(type='date', name='due_date', ng-model='due_date')
    div.form-group
      label Priority
      input.form-control(type="number", name="priority", ng-model='priority' autofocus, required, min="0" max="100")
    div.checkbox
      label
        input(type='checkbox', name='complete', ng-model='complete')
        | Completed

    button.btn.btn-default(ng-show='todoForm.$valid', ng-click='todo()') Submit




