extends layout

block body
  //include partials/nav
  div(ng-controller='AppCtrl')

    h2 Hello {{name}} {{prop}}
    ul.menu
      li
        a(href='login') login
      li
        a(href='logout') logout
        li
          a(href='todolist') Your Todo list

    div(ng-view)

    div
      span(app-version)


   include partials/table
