extends layout

block body
  //include partials/nav
  div(ng-controller='AppCtrl')
   div(ng-app="APPCtrl")

    h2 Hello {{name}}
    ul.menu
      li
        a(href='login') login
      li
        a(href='logout') logout
        li
          a(href='todolist') Your Todo list

    div(ng-view)

    div
      //span(app-version)


   //include partials/table
