/*///CSS PAGE For Use with background image ///////*/

body {
  background-color: black;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

a {
  color: rgb(161, 121, 67);
}

.form-control, input.form-control, input {
  background-color: rgba(255, 255, 255, 0.35);
  color: white;
  border-color: #3A0A0a;
  border-width: 4px;
  border-style: groove;
  margin-bottom: 0.4em;
}

.form-control:focus, .form-control:active {
  border-color: rgb(161, 121, 67);
  box-shadow: none;
}


button.btn.btn-default{
  background-color: rgba(32, 32, 152, .1);
  color: rgb(161, 121, 67);
}

a:hover {
  color: white;
}
