/*///CSS PAGE For Use with background image ///////*/

body {
  background-color: black;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
}

.form-control, input.form-controll {
  background-color: rgba(255, 255, 255, 0.35);
  color: white;
  border-color: #3A0A0a;
  border-width: 4px;
  border-style: groove;
  margin-bottom: 0.4em;
}

button.btn.btn-default{
  background-color: rgba(32, 32, 152, .1);
  color: #6C9E9E;
}

a:hover {
  color: white;
}
